.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

/.quarto/

**/*.quarto_ipynb

# data from eaton and palisades wildfire
data/

/images/aboutme

docs/blog_post/MarvelRivals_post/final_info.png
docs/blog_post/MarvelRivals_post/jeffdubtown.gif