.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

/.quarto/

**/*.quarto_ipynb

# data from eaton and palisades wildfire
data/

# Solve push issue- Marvel Rivals Blog Post
/blog_post/MarvelRivals_post/final_info.png
/blog_post/MarvelRivals_post/jeffdubtown.gif
/docs/blog_post/MarvelRivals_post/final_info.png
/docs/blog_post/MarvelRivals_post/jeffdubtown.gif